* {
   font-family: arial, helvetica, sans-serif;
}

h1,h2,h3,h4,h5 {
   font-weight: bold;
}

pre {
   font-family: monospace;
}

ul.tight {
   padding-left: 1.5em;
}

li ul {
   font-size: smaller;
}

p.releasenote {
   font-size: smaller;
}

body {
   background-color: white;
}

h3 {
   margin-bottom: .2em;
   margin-top: .5em;
}

table {
   border-style: none;
}

div#maindiv {
   background-color: #eee;
   padding: 1em 1em 1em 3em;
}

div#sidebar {
   float: right;
   margin-left: .5em;
   width: 20em;
}

div#support {
   margin-top: .5em;
   padding-left: .5em;
   padding-right: .5em;
}

div#wishlists {
   margin-top: 1em;
   padding: 0 .5em .5em .5em;
}

div#sponsors {
   margin-top: 1em;
   padding: 0 .5em .5em .5em;
}

img#appnexus-logo {
   float: right;
   padding: .5em;
}

td#download {
}

td#benchmark {
}

a.latest {
   font-weight: bold;
   font-size: 110%;
}

